@model GetLyricViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="GetLyric" enctype="multipart/form-data" class="flexbox">
    <div class="textboxes flexbox w-100">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Artist Section -->
        <div class="flex"><input autofocus accesskey="/" asp-for="ArtistName" placeholder="Artist" class="textbox w-100"></div>
        <span asp-validation-for="ArtistName" class="text-danger"></span>


        <!-- Song Section -->
        <div class="flex"><input asp-for="SongName" placeholder="Song" class="textbox w-100 go-top-half"></div>
        <span asp-validation-for="SongName" class="text-danger"></span>
    </div>

    <!-- Search Button Section -->
    <div class="buttons flexbox w-100">
        <div class="flex"><input type="submit" value="Search" class="btn btn-primary w-100"></div>
    </div>
</form>
